.edit {
    display: flex;
    background-color: #60594D;
    justify-content: space-evenly;
    margin: 15px 0px 0px 0px;
    border-top: 4px solid #104544;;
    padding: 10px;
    padding-top: 20px;
    border-radius: 5px;
    box-sizing: border-box;
    width: fit-content;

}
.edit > input {
    background-color: #D5B87E;
}

.edit>button {
    width: 80px;
    justify-self: flex-end;
}