.submit {
    width: 100px;
}

.reviewtext {
    height: 100px;
    justify-self: flex-start;
}

#review {
    width: 80px;
    justify-self: flex-end;
}

.review-card {
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    border: 3px solid black;
    border-radius: 5px;
    width: fit-content;
    margin: 10px 0px 0px 5px;
}

.review-card > p {
    color: white;
}

.review {
    display: flex;
    justify-content: flex-start;
}

.review > h4 {
    justify-self: flex-start
}